footer {
    padding-bottom: 50px;
    background-color: #757f3c;
}

footer .inner {
    flex-direction: row;
}

footer .inner nav {
    max-width: 300px;
    width: 100%;
    height: 325px;

    margin-right: 20px;
}

footer .inner nav:nth-child(2) {
    align-items: stretch;

    max-width: 500px;
    width: 100%;
    height: 300px;
}

footer .inner nav .title {
    color: #3b401e;
}

footer .inner nav .line-border {
    width: 100%;
    height: 2px;
    margin-bottom: 10px;

    box-sizing: border-box;
    border-top: 1px solid #51582a;
    border-bottom: 1px solid #889446;
}

footer .inner nav .nav-items a {
    color: white;
}

footer .inner nav .search-block {
    display: flex;
    width: 260px;
}

@media (max-width: 1024px) {

    footer .inner {
        flex-wrap: wrap;
    }

    footer .inner nav {
        margin-right: 0;
    }

    footer .inner nav:nth-child(2) {
        order: 1;
        margin: auto;
    }

    footer .inner nav .title,
    footer .inner nav .nav-items a,
    footer .inner nav .search-block {
        align-self: center;
    }
}