header {
    position: relative;

    height: 92px;
    margin: auto;
    padding-top: 16px;
    padding-left: 150px;

    box-sizing: border-box;
    border-bottom: 1px solid #e4ded1;
}


header .logo {
    position: absolute;
    top: 12px;
    left: 5%;
}

header .inner {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;

    height: 60px;
}

header .inner span {
    font-size: 13px;
    color: #c4b07a;
}

header .inner nav:nth-child(2) {
    margin-top: 15px;
}

header .inner nav a {
    font-size: 16px;
    line-height: normal;
}

header .inner nav {
    flex-direction: row;

    width: auto;
}

header .inner  nav a:not(:last-child) {
    margin-right: 20px;
    padding-right: 20px;

    box-sizing: border-box;
    border-right: 1px solid black;
}

header .inner nav:nth-child(3) a {
    font-size: 13px;
}

header .inner .search-block {
    align-self: flex-end;
}

@media (max-width: 1024px) {
    header {
        height: 250px;
        padding-left: 0;
    }

    header .logo {
        top: 45px;
        left: 50%;

        margin-left: -63px;
    }

    header .inner {
        align-items: center;

        height: 220px;
    }

    header .inner span {
        order: 3;
    }

    header .inner nav:nth-child(2) {
        order: 4;

        margin: 0;
    }

    header .inner nav:nth-child(3) a {
        font-size: 16px;
    }

    header .inner .search-block {
        order: 2;
        align-self: center;

        max-width: 360px;
        width: 100%;
        margin-top: 85px;
    }

    header .inner .search-block input[type=search] {
        width: 330px;
    }
}

@media (max-width: 767px) {

    header .inner nav a,
    header .inner nav:nth-child(3) a{
        font-size: 14px;
    }

    header .inner nav a:not(:last-child) {
        margin-right: 12px;
        padding: 0;
        border: none;
    }
}
