header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 88px;
    box-sizing: border-box;
    border-bottom: 1px solid #e4ded1;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 85%;
    height: 100px;

}
header .header-wrapper .logo-block {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 550px;
    width: 100%;
    height: inherit;
}

header .header-wrapper .logo-block a img {
    position: absolute;
    top: 13px;
    left: 0;
}

header .header-wrapper .logo-block .header-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 60px;
    margin-left: 150px;

}

header .header-wrapper .logo-block .header-menu span {
    align-self: flex-start;

    color: #c4b07a;
    font-size: 13px;
}

header .header-wrapper .user-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 300px;
    width: 100%;
    height: 60px;
}

header .header-wrapper .user-block  a {
    font-size: 13px;
}

header .header-wrapper .user-block .search-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}