main {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding-top: 50px;
    width: 100%;
    height: 2000px;
    background-color: #f3efe4;
}

main .main-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1500px;

    max-width: 85%;
    width: 100%;
    background: white;
}

main .main-inner .banner-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    max-width: 90%;
    width: 100%;
    height: 600px;

    background: url("../img/banner-image.jpg") top center no-repeat;
    background-size: cover;
}

main .main-inner .banner-block .banner-block__info {
    padding: 50px;
    max-width: 60%;
    width: 100%;
}

main .main-inner .banner-block .banner-block__info h1 {
    font-size: 48px;
    color: rgb(243, 239, 228);
    line-height: 0.75;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.42);
}

main .main-inner .banner-block .banner-block__info p {
    font-size: 18px;
    color: #f3efe4;
    font-weight: 100;
}

main .main-inner .banner-block .banner-block__info button {
    width: 200px;
    height: 50px;
    text-align: center;
    color: white;
    border-radius: 4px;
    background-color: #e8930c;
    box-shadow: 0px 2px 0px 0px rgba(1, 1, 1, 0.04), inset 0px -2px 0px 0px rgba(208, 128, 0, 0.004);
}

main .main-inner .content-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 90%;
    width: 100%;
    height: 800px;
}

main .main-inner .content-block .post-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 70%;
    width: 100%;
    height: 100%;
}

main .main-inner .content-block .post-block .post-block__item {
    height: 200px;
    margin-bottom: 50px;
}

main .main-inner .content-block .post-block .post-block__item:not(:last-child) {
    border-bottom: 1px solid;
}

main .main-inner .content-block .post-block .post-block__item .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 144px;
    overflow: hidden;
}

main .main-inner .content-block .post-block .post-block__item .information-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    height: 100%;
}

main .main-inner .content-block .post-block .post-block__item .information-block h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 0;
    font-size: 24px;
    font-weight: lighter;
    color: #d98d1b;

    text-align: center;
}

main .main-inner .content-block .post-block .post-block__item .information-block span {
    font-size: 12px;
    color: #828282;

}

main .main-inner .content-block .post-block .post-block__item .information-block p {
    font-size: 14px;
    color: #5b5b5b;
    margin: 0;
    line-height: 1.5;
    width: 90%;
}

main .main-inner .content-block .post-block .post-block__item .information-block p a {
    color: #d98d1b;
}

.category-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #a3a78b;
}