main {
    padding: 50px 0;

    background-color: #f3efe4;
}

main .inner {
    flex-direction: column;
    align-items: center;

    padding: 35px;

    box-sizing: border-box;
    border: 1px solid #e4ded1;
    border-radius: 5px;
    background: white;
}

main .inner .banner-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    width: 100%;
    height: 600px;

    background: url("../img/banner-image.jpg") top center no-repeat;
    background-size: cover;
}

main .inner .banner-block .banner-caption {
    display: flex;
    flex-direction: column;

    max-width: 55%;
    width: 100%;
    padding: 50px;
}

main .inner .banner-block .banner-caption h1 {
    font-size: 48px;
    color: #f3efe4;
    line-height: 0.75;
    font-weight: lighter;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.42);
}

main .inner .banner-block .banner-caption p {
    margin: 10px 0;

    font-size: 18px;
    color: white;
    font-weight: lighter;
}

main .inner .banner-block .banner-caption button {
    max-width: 200px;
    width: 100%;
    height: 50px;
    padding: 0;

    text-align: center;
    color: white;
    border-radius: 4px;
    background-color: #e8930c;
    box-shadow: 0px 2px 0px 0px rgba(1, 1, 1, 0.04), inset 0px -2px 0px 0px rgba(208, 128, 0, 0.004);
}

main .inner .content-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    margin-top: 40px;
}

main .inner .content-block aside {
    display: flex;
    flex-direction: column;

    width: 25%;
}

main .inner .content-block aside nav:not(:first-child) {
    margin-top: 20px;
}

main .inner .content-block aside nav a {
    font-size: 16px;
    font-weight: bold;
}

main .inner .content-block aside nav a:hover {
    color: #d98d1b;
    text-decoration: underline;
}

main .inner .content-block aside nav:nth-child(3) a:last-child i {
    color: #d98d1b;
}

main .inner .content-block aside .email-block {
    display: flex;

    width: 180px;
}

main .inner .content-block aside .email-block button i {
    font-size: 20px;
}

main .inner .content-block .post-block {
    display: flex;
    flex-direction: column;

    max-width: 65%;
    width: 100%;
    height: 100%;
}

main .inner .content-block .post-block .post-block__item {
    height: 190px;
    margin-top: 30px;
}

main .inner .content-block .post-block .post-block__item:not(:last-child) {
    border-bottom: 1px solid #dadada;
}

main .inner .content-block .post-block .post-block__item .item-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    height: 144px;

    overflow: hidden;
}

main .inner .content-block .post-block .post-block__item .item-inner .information-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 70%;
    height: 100%;
    margin-left: 20px;
}

main .inner .content-block .post-block .post-block__item .item-inner .information-block h3 {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 0;

    font-size: 24px;
    font-weight: lighter;
    color: #d98d1b;
    text-align: center;
}

main .inner .content-block .post-block .post-block__item .item-inner .information-block h3 span {
    position: absolute;
    top: 7px;
    right: 8px;

    color: white;
}

main .inner .content-block .post-block .post-block__item .item-inner .information-block span {
    font-size: 12px;
    color: #828282;

}

main .inner .content-block .post-block .post-block__item .item-inner .information-block p {
    font-size: 14px;
    color: #5b5b5b;
    margin: 0;
    line-height: 1.5;
}

main .inner .content-block .post-block .post-block__item .item-inner .information-block p a {
    color: #d98d1b;
}

@media (max-width: 1024px) {
    main .inner .content-block {
        flex-direction: column;

        margin-top: 20px;
    }

    main .inner .content-block aside {
        flex-direction: row;
        justify-content: space-around;

        width: 100%;
    }

    main .inner .content-block aside nav:not(:first-child) {
        margin-top: 0;
    }

    main .inner .content-block .post-block {
        max-width: 100%;
    }

}

@media (max-width: 767px) {

    main .inner {
        width: 100%;
        padding: 15px;
    }

    main .inner .banner-block {
        justify-content: center;
        align-items: center;

        height: 300px;
    }

    main .inner .banner-block .banner-caption {
        max-width: 90%;
        padding: 0;
    }

    main .inner .banner-block .banner-caption h1 {
        font-size: 21px;
        align-self: center;
        text-transform: uppercase;
    }

    main .inner .banner-block .banner-caption p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    main .inner .banner-block .banner-caption button {
        align-self: center;
    }

    main .inner .content-block aside {
        flex-direction: column;
    }

    main .inner .content-block aside nav,
    main .inner .content-block aside nav .nav-items,
    main .inner .content-block aside nav h2,
    main .inner .content-block aside nav .email-block {
        align-items: center;
    }

    main .inner .content-block .post-block {
        align-items: center;
    }

    main .inner .content-block .post-block .post-block__item {
        width: 100%;
        height: 230px;
    }

    main .inner .content-block .post-block .post-block__item .item-inner {
        height: 200px;
    }

    main .inner .content-block .post-block .post-block__item .item-inner img {
        display: none;
    }

    main .inner .content-block .post-block .post-block__item .item-inner .information-block {
        width: 100%;
        margin-left: 0;
    }

    main .inner .content-block .post-block .post-block__item .item-inner .information-block h3 {
        font-size: 19px;
    }

    main .inner .content-block .post-block .post-block__item .item-inner .information-block h3 span {
        top: 3px;
        right: 6px;
    }



}