@import url(../fonts/font-awesome-4.7.0/css/font-awesome.css);
@import url(../css/header.css);
@import url(../css/main.css);

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato/Lato-Black.ttf");
    src: url("../fonts/Lato/Lato-Bold.ttf");
    src: url("../fonts/Lato/Lato-Italic.ttf");
    src: url("../fonts/Lato/Lato-Light.ttf");
    src: url("../fonts/Lato/Lato-Regular.ttf");
}

* {
    font-family: 'Lato', Arial, sans-serif;
}

h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #a3a78b;
}

a {
    color: black;
    text-decoration: none;
}

nav a {
    text-transform: capitalize;
    font-size: 16px;
}

nav a:not(:last-child) {
    margin-right: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-right: 1px solid black;
}

input[type=search],
input[type=email] {
    align-self: flex-end;
    outline: none;
    width: 230px;
    height: 30px;
    padding-left: 15px;
    font-size: 12px;
    font-style: italic;
    text-transform: capitalize;
    color: ##757f3c;
    box-sizing: border-box;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: none;
    background-color: rgb(243, 239, 228);
    box-shadow: inset 0px 1px 0 0px rgba(196, 176, 122, 0.47);
}

input[type=search]::placeholder,
input[type=email ]::placeholder {
    color: #94a14c;
}

button {
    height: 30px;
    padding-right: 15px;
    color: #94a14c;
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    background-color: rgb(243, 239, 228);
    box-shadow: inset 0px 1px 0 0px rgba(196, 176, 122, 0.47);
    outline: none;
}